# Helicon Ape version 3.1.0.115
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


DirectoryIndex index.php

ErrorDocument 404 /404.php

RewriteRule sitemap.xml$ sitemap.php

RewriteRule ^trang-chu.html$ http://%{HTTP_HOST}/source_ok [L,R=301]
RewriteRule ^index.html$ http://%{HTTP_HOST}/source_ok [L,R=301]


#rewhite
RewriteRule ^thumb/([0-9]+)x([0-9]+)/([0-9]+)/(.*)$ timthumb.php?w=$1&h=$2&zc=$3&q=85&src=http://%{HTTP_HOST}/source_ok/$4  [L]
#RewriteRule ^thumb/product/([0-9]+)x([0-9]+)/([0-9]+)/(.*)$ timthumb_watermark.php?src=http://%{HTTP_HOST}/source_ok/upload/product/$4&w=$1&h=$2&zc=$3&q=100&wm=1&wl=5&wmr=0 [L]

RewriteRule ^admin$ admin/index.php [L]
RewriteRule ^admin/$ admin/index.php [L]
#my
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?com=$1 [L]
RewriteRule ^([a-zA-Z0-9_-]+)&page=([0-9]+)$ index.php?com=$1&page=$2 [L]
RewriteRule ^tim-kiem.html&keywords=(.*)$ index.php?com=tim-kiem&keywords=$1 [L]
RewriteRule ^tim-kiem.html&keywords=(.*)&page=([0-9]+)$ index.php?com=tim-kiem&keywords=$1&page=$2 [L]

RewriteRule ^tag/([a-zA-Z0-9_-]+)$ index.php?com=tag&key=$1 [L]
RewriteRule ^tag/([a-zA-Z0-9_-]+)&page=([0-9]+)$ index.php?com=tag&key=$1&page=$2 [L]